{% extends "layout.html" %}


{% block title %}
<title>Home</title>

{% endblock %}

{% block body %}
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://images.unsplash.com/photo-1520607162513-77705c0f0d4a?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=700&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=80&w=1920"
                class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://images.unsplash.com/photo-1536859355448-76f92ebdc33d?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=700&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=80&w=1920"
                class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://images.unsplash.com/photo-1555949963-ff9fe0c870eb?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=700&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=80&w=1920"
                class="d-block w-100" alt="...">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<br>
<br>
<hr>
<div class='row'>
    <h2 class='mx-3 m-2 p-2'>TOP 2 PROGRAMMING LANGUAGES TO LEARN  IN 2020</h2>
</div>
<br>
<div class="card-deck m-3 p-3">
    <div class="card m-2 p-2">
        <img src="https://images.unsplash.com/photo-1515879218367-8466d910aaa4?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=300&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=80&w=480"
            class="card-img-top m-auto p-5" alt="Python">
        <div class="card-body m-auto p-5">
            <h4 class="card-title">PYTHON</h4>
            <p class="card-text">Python® is an interpreted, high-level, general-purpose programming language. Created by
                Guido van Rossum and first released in 1991, Python's design philosophy emphasizes code readability with
                its notable use of significant whitespace. Its language constructs and object-oriented approach aim to
                help programmers write clear, logical code for small and large-scale projects.</p>
            <a class="btn btn-primary" href="/python" role="button">Learn More</a>
        </div>
        <div class="card-footer">
            <h4 class="text-muted">
                <ul>
                    Fun Fact
                    <li>Python is older than Java</li>
                    <li>Python is named after a TV show</li>
                </ul>
            </h4>
        </div>
    </div>
    <div class="card m-2 p-2">
        <img src="https://images.unsplash.com/photo-1565106430482-8f6e74349ca1?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=300&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=80&w=480"
            class="card-img-top m-auto p-5" alt="JavaScript">
        <div class="card-body m-auto p-5">
            <h4 class="card-title">JAVASCRIPT</h4>
            <p class="card-text">JavaScript® (often shortened to JS) is a lightweight, interpreted, object-oriented
                language with first-class functions, and is best known as the scripting language for Web pages, but it's
                used in many non-browser environments as well. It is a prototype-based, multi-paradigm scripting
                language that is dynamic, and supports object-oriented, imperative, and functional programming styles.
            </p>
            <a class="btn btn-primary" href="/javascript" role="button">Learn More</a>
        </div>
        <div class="card-footer">
            <h5 class="text-muted">
                <ul>
                    Fun Fact
                    <li>JavaScript was being developed under the name Mocha</li>
                    <li>JavaScript and Java are totally unrelated languages</li>
                </ul>
            </h5>
        </div>
    </div>
</div>



{% endblock %}