<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href={{ url_for ('static', filename="/css/style.css") }}>
    
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"> -->
    
    <nav class="nav">
        <div class="container">
            <div class="logo">
                <a href="#">Your Logo</a>
            </div>
            <div id="mainListDiv" class="main_list">
                <ul class="navlinks">
                    <li><a href="/home">About</a></li>
                    <li><a href="#">Portfolio</a></li>
                    <li><a href="/connect">Connect</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
            <span class="navTrigger">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </div>
    </nav>
</head>

<body>

    <section class="home">
    </section>
    <div style="height: 1000px">
        <!-- just to make scrolling effect possible -->
        
   

{% block body %}
{% endblock %}


{% block contact %}
{% endblock %}

{% block connect %}
{% endblock %}
 <!-- Jquery needed -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

 <!-- Function used to shrink nav bar removing paddings and adding black background -->
 <script>
     $(window).scroll(function () {
         if ($(document).scrollTop() > 50) {
             $('.nav').addClass('affix');
             console.log("OK");
         } else {
             $('.nav').removeClass('affix');
         }
     });

     $('.navTrigger').click(function () {
         $(this).toggleClass('active');
         console.log("Clicked menu");
         $("#mainListDiv").toggleClass("show_list");
         $("#mainListDiv").fadeIn();

     });
 </script>
</body>

</html>