{% extends "layout.html" %}
{% block body %}
<body>

    <div class="container">
        <div class="box1">
            <h1>Hello World</h1>
            <p>This is not anything but never think this as a waste of the time
                the whole of this text is going to be red in color with yellow background
            </p>
        </div>

        <div class="box2">
            <h1>Hello Universe</h1>
            <p>This is not anything but never think this as a waste of the time
                the whole of this text is going to be red in color with yellow background
            </p>
        </div>

        <div class="categories">
            <h2>Categories</h2>
            <ul>
                <li>
                    <a href="#">Categories 1</a>
                </li>
                <li>
                    <a href="#">Categories 2</a>
                </li>
                <li>
                    <a href="#">Categories 3</a>
                </li>
                <li>
                    <a href="#">Categories 4</a>
                </li>

                <li>
                    <a href="a.html">Categories 5</a>
                </li>
            </ul>
        </div>

        <div class="form">
            <form class="myform">
                <label>Name:</label>
                <input type="text" name="name" placeholder="Name"><br>
                <label>Email:</label>
                <input type="text" name="Email" placeholder="E-Mail"><br>
                <label>Password:</label>
                <input type="password" name="Password" placeholder="Password"><br>
                <label>Number: </label>
                <input type="text" name="Number" placeholder="Phone Number"><br>
                <label>Message: </label>
                <textarea name="Message" id="Message" cols="30" rows="10"
                    placeholder="Enter your feedback here"></textarea><br>

                <input class="button" type="submit" value="Login"><br>
                <input class="button" type="submit" value="Signup"><br>
            </form>

            <div class="block">
                <h2>Heading 1 </h2>
                <p>A Quick Brown Fox Jumps Over The Lazy Dog. This is never a problem. I am learning css</p>
            </div>
            <div class="block">
                <h2>Heading 2 </h2>
                <p>A Quick Brown Fox Jumps Over The Lazy Dog This is never a problem. I am learning css</p>
            </div>
            <div class="block">
                <h2>Heading 3</h2>
                <p>A Quick Brown Fox Jumps Over The Lazy Dog This is never a problem. I am learning css</p>
            </div>
        </div>

        <div class="clr"></div>
        <div class="posi">
            <h1>Hello World</h1>
            <h2>Hello Universe</h2>
        </div>

        <div class="fix button">
            <a href="#">TOP</a>
        </div>


        <ul class="list">
            <li>This is item</li>
            <li>This is item</li>
            <li>This is item</li>
            <li>This is item</li>
            <li>This is item</li>
            <li>This is item</li>
            <li>This is item</li>
            <li>This is item</li>
            <li>This is item</li>


        </ul>
        <script>
            function myFunction() {
                var element = document.body;
                element.classList.toggle("dark-mode");
            }
        </script>
<style>
    body {
      padding: 25px;
      background-color: white;
      color: black;
      font-size: 25px;
    }
    
    .dark-mode {
      background-color: black;
      color: white;
    }
    </style>
    </head>
    <body>
    
    <h2>Toggle Dark/Light Mode</h2>
    <p>Click the button to toggle between dark and light mode for this page.</p>
    
    <button onclick="myFunction()">Toggle dark mode</button>
    
    <script>
    function myFunction() {
       var element = document.body;
       element.classList.toggle("dark-mode");
    }
    </script>
    </div>
</body>

</html>


{% endblock %}