{% extends "layout.html" %}
{% block body %}
<body>


    hover to me
    <div class="container">
        <h1>
            Principle = <input id="p">
            Time = <input id="t">
            Rate = <input id="r">
            <input type="text", id="pp">
            <button onclick="calculate()">Calculate</button>
            <p id="result"></p>
        </h1>

        <div class="hovering">
            Me
        </div>
    </div>
</body>
<script>
    function calculate() {
    p = document.getElementById("p").value;
    t = document.getElementById("t").value;
    r = document.getElementById("r").value;
    result = document.getElementById("result")
    result.innerHTML = "The result is " + (p*t*r)/100
}
</script>
</html>


{% endblock %}