body{
    background-color: yellow;
}
        .operator{
                height: 50px;
                width: 90px;
                border: 0px;
                border-radius: 0px;
                margin: 10px;
                background-color: tomato;
                position: relative;
                position: center;
}

.button{
   width: 50px;
   height: 50px;
}