<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% block title %}

  {% endblock %}

  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <!-- Google Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
  <!-- Bootstrap core CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand bold" href="/">{{params['page_title']}}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
        aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
          <li class="nav-item ">
            <a class="nav-link" href="/">Home</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">Learn</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About Us</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if session['user'] == notloggedin %}
          <a href="/login"> <button type="button" class="btn btn-outline-success">Login</button> </a>
          <a href="/signup"> <button type="button" class="btn btn-outline-success">Signup</button> </a>
          {% else %}
          <a href="/logout"> <button type="button" class="btn btn-outline-danger"> Logout</button> </a>
          <a href="/admindashboard"> <button type="button" class="btn btn-outline-warning">Add/Change</button> </a>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>


  {% with messages = get_flashed_messages(with_categories=true)  %}
  {% if messages %}
  {% for categories, messages in messages %}
  
  <div class="alert alert-{{categories}} alert-dismissible fade show mb-0" role="alert">
      <strong>{{messages}}</strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  
  {% endfor %}
  {% endif %}
  {% endwith %}
  
  {% block body %}

  {% endblock %}

  <footer class="page-footer font-small indigo bg-dark">

    <div class="container">

      <div class="row text-center d-flex justify-content-center pt-5 mb-3">

        <div class="col-md-2 mb-3">
          <h6 class="text-uppercase font-weight-bold">
            <a href="/about">About us</a>
          </h6>
        </div>
        <div class="col-md-2 mb-3">
          <h6 class="text-uppercase font-weight-bold">
            <a href="/posts/python">Python</a>
          </h6>
        </div>
        <div class="col-md-2 mb-3">
          <h6 class="text-uppercase font-weight-bold">
            <a href="/posts/js">JavaScript</a>
          </h6>
        </div>
        <div class="col-md-2 mb-3">
          <h6 class="text-uppercase font-weight-bold">
            <a href="#!">Help</a>
          </h6>
        </div>
        <div class="col-md-2 mb-3">
          <h6 class="text-uppercase font-weight-bold">
            <a href="/contact">Contact</a>
          </h6>
        </div>
      </div>
      <hr class="rgba-white-light" style="margin: 0 15%;">

      <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">

        <div class="col-md-8 col-12 mt-5">
          <p style="line-height: 1.7rem">
            Hello, World!. This is a website where you can get all the concepts about the most popular and on demand
            programming languages of 2020 </p>
          <p style="line-height: 1.7rem">
            Please feel free to contact me through any of the social media listed below.</p>
        </div>
      </div>
      <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">

      <div class="row pb-3">

        <div class="col-md-12">

          <div class="mb-5 flex-center">
            <!-- Twitter -->
            <a class="tw-ic" href='{{params["tw_url"]}}' target="_blank">
              <i class="fab fa-twitter fa-lg white-text mr-4"> </i>
            </a>
            <!--Instagram-->
            <a class="ins-ic" href='{{params["insta_url"]}}' target="_blank">
              <i class="fab fa-instagram fa-lg white-text mr-4"> </i>
            </a>

          </div>

        </div>

      </div>
    </div>
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="/">{{params['page_title']}}</a>
    </div>

  </footer>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
  </script>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js">
  </script>
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
</body>

</html>