*{
    padding: 0;
    margin: 0;
}
body {
    background-color: rgb(0, 0, 0);
    margin: 0px;
    padding: 0px;
    line-height: 3em;
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.motor1.com%2Fnews%2F298469%2Flamborghini-aventador-sucessor-arrival-rumor%2F&psig=AOvVaw3bVZSBRyRfJDwer9hezO6i&ust=1591290659162000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCPDx6-aR5ukCFQAAAAAdAAAAABAD);
}
.clr{
    clear: both;
}
.button{
    
    background-color: aqua;
    color: red;
    padding: 10px 15px;
    margin: 0;
    border: none;
}

.button:hover{
    color: aqua;
    cursor: pointer;
    background-color:red;
}

.container {
    width: 80%;
    margin: auto;
}


.box1 {
    background-color: black;
    color: red;
    font-size: 200%;
    font-weight: lighter;
    font-family: chiller;
    border: 5px aqua solid;
    border-radius: 20px;
    padding-top: 50px;
    margin-top: 50px;
}

.box1 h1 {
    font-size: larger;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: aqua;
    text-decoration: underline;
    text-transform: uppercase;
}

.box2 {
    border: 5px blue solid;
    color: rgb(255, 0, 0);
    background-color: rgb(11, 22, 16);
    border-radius: 20px;
}

.box2 h1 {
    font-size: larger;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: aqua;
    text-decoration: underline;
    text-transform: uppercase;
}

.categories {
    border: 5px red solid;
    padding: 0;
    margin: 0;
    border-radius: 5px;
}

.categories h2 {
    text-align: center;
    color: aqua;
    background-color: black;
    padding: 0;
    margin: 0;
    border: 0;
}

.categories ul {
    padding: 0 px;
    margin: 0;
    list-style: none;
    color: darkmagenta;
}

a {
    text-decoration: none;
    color: darkkhaki;
}

a:hover {
    color: rgb(0, 17, 255);
}

a:active {
    color: red;
}


.categories li {
    padding: 0;
    border-bottom: 5px rgb(0, 255, 13) solid;
    margin: 0;
}

.form{
    color: red;
    
}

.form .myform{
    padding: 20px;
    

}

label{
    display: block;
}

.myform input[type="text"], textarea{
    padding: 10px;
    width: 100%;
}
.myform input[type="password"]{
    padding: 10px;
    width: 100%;
}

.block{
    color: white;
    float: left;
    width: 30%;
    padding: 2px;
    margin: 5px;
    border: 5px red solid;
    border-radius: 20px;
    box-sizing: border-box;
}

.posi{
    color: white;
    width: 800px;
    height: 500px;
    border: 5px yellow solid;
    border-radius: 20px;
    margin-top: 30px;
    position: relative;
}

.posi h1{
    position: absolute;
    top: 100px;
    left: 300px;

}

.posi h2{
    position: absolute;
    top: 50px;
    left: 20px;
}

.fix{
    position: fixed;
    top: 400px;
}

.fix a{
    color: black;
}

.list li:first-child{
    background-color: red;

}

.list{
    color: white;
}

.list li:last-child{
    color: yellow;
}

.list li:nth-child(odd){
    color: blue;
}